form{
  width: 400px;
  padding: 20px;
}
input[type=text], input[type=number],input[type=date],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
  padding: 15px;
  background-color: navy;
  color: #fff;
  border: 1px solid navy;
  border-radius: 10px;
}

table, th, td{
  border-collapse: collapse;
  margin-bottom: 100px;
}

thead{
  background-color: #333;
  color: white;
}

th{
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

td{
  padding: 5px;
  border: 1px solid black;
}

tbody tr:nth-child(odd){
  background-color: #fff;
}

tbody tr:nth-child(even){
  background-color: #eee;
}

#search{
  padding: 10px;
  margin-bottom: 2px;
  margin-top: 20px;
}

